<style>
    .hobi-card {
        background: var(--clr-white);
        padding: 1.5rem;
        margin-bottom: 2rem;
        border-radius: var(--radius);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: var(--transition);
    }

        .hobi-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }

        .hobi-card .card-body {
            transition: var(--transition);
        }

        .hobi-card:hover .card-body {
            color: var(--clr-primary);
        }

    .popup-content {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        overflow: auto;
        z-index: 1000;
    }

    .popup-image {
        max-width: 100%;
        max-height: 80vh;
    }
</style>

<div class="resume-section-content">
    <h2 class="mb-5">
        <i class="fas fa-paint-brush"></i> Hobilerim
    </h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card hobi-card">
                    <div class="card-body">
                        <a href="#" class="popup-link" data-popup-id="@item.ID">
                            <img src="@item.Aciklama1" alt="" style="margin-bottom:1px" height=150 class="popup-image" />
                        </a>
                        <br />
                        <a href="@item.Aciklama2" target="_blank" rel="noopener noreferrer">@item.Aciklama2</a>
                    </div>
                </div>
            </div>

            <!-- Popup Content -->
            <div id="popup-@item.ID" class="popup-content">
                <img src="@item.Aciklama1" alt="" class="popup-image" />
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.popup-link').on('click', function (e) {
            e.preventDefault();
            var popupID = $(this).data('popup-ID');
            $('#popup-' + popupID).fadeIn();
        });

        $('.popup-content').on('click', function () {
            $(this).fadeOut();
        });
    });
</script>
