
@{
    Layout = null;
}
@using WebCvProject.Models.Entity
@model List<TblHakkimda>


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-cN16+rrnk4CmQ8B2mpPd9bQ9iwkqUV7yjNkxUet9xUPOOTZ4W6U+1TkRLeKRS2a7SVeqVvQr2yM3HJx4WpYkR0A==" crossorigin="anonymous" />

    <title> CV</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    @*<link href="~/startbootstrap-resume-gh-pages/css/styles.css" rel="stylesheet" />*@

    @*<link href="~/startbootstrap-resume-gh-pages/css/stylessss.css" rel="stylesheet" />*@

<link href="~/startbootstrap-resume-gh-pages/css/stylessss.css" rel="stylesheet" />

</head>

<body id="page-top">
    <!-- Navigation-->
    @*<nav class="navbar navbar-expand-lg navbar-dark bg-blue fixed-top">*@
        <nav class="navbar navbar-expand-lg navbar-dark  bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Omer Faruk Pala</span>
                @foreach (var item in Model)
                {
                    //resim için
                    <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/startbootstrap-resume-gh-pages/assets/img/Profile.jpg" alt="" /></span>
                }
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Hakkımda</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Deneyimlerim</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Eğitim Hayatım</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Yeteneklerim</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Hobilerim</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Sertifikalarım</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">İletişim</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <style>

            .input-group-text {
                background-color: #ffc107; /* FontAwesome ikonlarına arka plan rengi */
                color: white; /* FontAwesome ikon rengi */
                font-size: 1.2rem; /* FontAwesome ikon boyutu */
        </style>
        <div class="container-fluid p-0">
            @foreach (var item in Model)
            {
                <section class="resume-section" id="about">
                    <div class="resume-section-content">
                        <h1 id="typing-text" class="mb-0"> 👋</h1>
                        <br />
                        <br />
                        <div class="subheading mb-3">
                            <i class="fas fa-map-marker-alt"></i> @item.Adres ·
                            <i class="fas fa-phone-alt"></i> @item.Telefon ·
                            <i class="fas fa-envelope"></i>  <a href="@item.Mail">@item.Mail</a>
                        </div>
                        <br />
                        <i class="fas fa-info-circle"></i> @item.Aciklama

                        <p class="lead mb-4">

                        </p>
                        @Html.Action("SosyalMedya")
                    </div><br />
                </section><br /> <span id="ad"> @item.Ad</span>
                <span class="text-primary" id="soyad">@item.Soyad</span>

            }
            <hr class="m-0" />

            <!-- Other sections... -->
        </div>

        <script>
            function runTypingEffect() {
                const ad = document.getElementById('ad').innerText;
                const soyad = document.getElementById('soyad').innerText;


                const text = `I am ${ad} ${soyad}.`;
                const typingElement = document.getElementById('typing-text');
                const typingDelay = 150;

                typeText(text, typingElement, typingDelay);
            }

            function typeText(text, typingElement, delay) {
                let i = 0;
                const intervalId = setInterval(() => {
                    typingElement.textContent += text.charAt(i);
                    i++;
                    if (i === text.length) {
                        clearInterval(intervalId);
                    }
                }, delay);
            }

            document.addEventListener('DOMContentLoaded', runTypingEffect);
        </script>






        <!-- Experience-->
        <section class="resume-section" id="experience">
            @Html.Action("Deneyim")
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            @Html.Action("Egitimlerim")
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            @Html.Action("Yeteneklerim")
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            @Html.Action("Hobilerim")
        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            @Html.Action("Sertifikalarim")
        </section>
        <hr class="m-0" />
        <!-- Contact-->
        <section class="resume-section" id="contact">
            @Html.Action("Iletisim")
        </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="/startbootstrap-resume-gh-pages/js/scripts.js"></script>

</body>
</html>

